%div.sign_in_sign_up_form
  %h2.text-align-center Sign up
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
    = devise_error_messages!
    %div.margin-left
      = f.label :name
      = f.text_field :name, :autofocus => true
    %div.margin-left
      = f.label :email
      = f.email_field :email
    %div.margin-left
      = f.label :password
      = f.password_field :password
    %div.margin-left
      = f.label :password_confirmation
      = f.password_field :password_confirmation
    %div.margin-left= f.submit "Sign up"
  %div.margin-left
    = render "users/shared/links"